:root {
	--bg-color: #000;
	--fg-color: #fff;
	--sun-mobile-size: 150px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}
main {
	height: 100vh;
	width: 100vw;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.star {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: var(--fg-color);
	border-radius: 50%;
	box-shadow: 0 0 10px 1px white;
	animation: opacity 0.3s ease-in-out;
	z-index: 2;
}

.sun {
	background-image: url('../assets/sun.png');
	height: 120px;
	width: 120px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: grayscale(40%);
	box-shadow: inset 0px 0px 60px 8rem rgba(255, 102, 0, 0.1),
		0px 0px 60px 14rem rgba(255, 102, 0, 0.1);
	animation: opacity 0.3s ease-in-out;
	z-index: 10;
	cursor: pointer;
}

@keyframes rotate-sun {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
.planet-wrapper {
	position: absolute;
	border-radius: 50%;
	border: 2px solid rgb(36, 36, 36);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: opacity 0.3s ease-in-out;
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.planet-img {
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	position: absolute;
	top: 43%;
	left: 42%;
}
.planet-img {
	cursor: pointer;
}
.moon-outline {
	cursor: default;
	top: 43%;
	left: 42%;
}
.planet-wrapper p {
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	position: absolute;
	font-size: 0.8rem;
	left: -36px;
	top: -12px;
}
/* ANIMATIONS START HERE*/

@keyframes mercury-orbit {
	from {
		transform: rotate(0deg) translateX(70px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(70px) rotate(-360deg) rotateZ(360deg);
	}
}
@keyframes venus-orbit {
	from {
		transform: rotate(0deg) translateX(100px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(100px) rotate(-360deg) rotateZ(360deg);
	}
}

@keyframes earth-orbit {
	from {
		transform: rotate(0deg) translateX(130px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(130px) rotate(-360deg) rotateZ(360deg);
	}
}
div.mars-outline > div,
div.jupiter-outline > div {
	top: 46%;
	left: 46%;
}
@keyframes mars-orbit {
	from {
		transform: rotate(0deg) translateX(160px) rotate(0deg) rotateZ(0deg);
	}

	to {
		transform: rotate(360deg) translateX(160px) rotate(-360deg) rotateZ(360deg);
	}
}

@keyframes jupiter-orbit {
	from {
		transform: rotate(0deg) translateX(190px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(190px) rotate(-360deg) rotateZ(360deg);
	}
}
div.saturn-outline > div {
	top: 46%;
	left: 46%;
}
@keyframes saturn-orbit {
	from {
		transform: rotate(0deg) translateX(235px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(235px) rotate(-360deg) rotateZ(360deg);
	}
}
div.uranus-outline > div {
	top: 42%;
	left: 56%;
}
@keyframes uranus-orbit {
	from {
		transform: rotate(0deg) translateX(235px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(235px) rotate(-360deg) rotateZ(360deg);
	}
}
div.neptune-outline > div {
	top: 42%;
	left: 58%;
}
@keyframes neptune-orbit {
	from {
		transform: rotate(0deg) translateX(255px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(255px) rotate(-360deg) rotateZ(360deg);
	}
}
.moon-outline {
	width: 60px;
	height: 55px;
	border-radius: 50%;
	border: 2px solid rgb(100, 100, 100);
	transform: translate(-50%, -50%);
	animation: opacity 0.3s ease-in-out;
	z-index: 1;
	position: absolute;
}
.moon-outline div {
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	z-index: 12;
	box-shadow: inset 0px 0px 20px 15px rgba(0, 174, 255, 0.2),
		0px 0px 20px 15px rgba(0, 174, 255, 0.2);
}
.earth-outline > .planet-img {
	transition: opacity 0.3s ease-in;
}
@keyframes moon-orbit {
	from {
		transform: rotate(0deg) translateX(28px) rotate(0deg) rotateZ(0deg);
	}
	to {
		transform: rotate(360deg) translateX(28px) rotate(-360deg) rotateZ(360deg);
	}
}
.dialog-fixed {
	width: 100%;
	min-width: 280px;
	max-width: 50vw;
	position: fixed;
	right: 4vh;
	bottom: 4vh;
	color: white;
	background-color: #000;

	border: 1px solid rgb(75, 75, 75);
	padding: 0.5rem 1rem;
	padding-bottom: 1rem;
	z-index: 999;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 4px;
	box-shadow: 0 0 16px black;
}

.dialog-fixed p {
	text-align: justify;
	text-justify: inter-word;
}

.dialog-fixed .primary-button {
	width: 80px;
	margin-left: auto;
	margin-top: 4px;
}
.primary-button {
	padding: 8px 0;
	border-radius: 4px;
	border: none;
	background-color: rgb(32, 32, 32);

	color: white;

	cursor: pointer;
}
.events-button {
	position: fixed;
	right: 4vh;
	bottom: 4vh;
	border: none;
	box-shadow: 0 0 16px black;
	cursor: pointer;
	padding: 15px 0;
	border-radius: 4px;
	z-index: 999;
	min-width: 80px;
	width: 100%;
	max-width: 150px;
	background-color: rgb(32, 32, 32);
	color: white;
}
.event-list {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	animation: opacity 0.3s ease-in;
}
.event-list li {
	background-color: black;
	color: white;
	padding: 8px 0;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.events-button-list {
	display: none;
}
.event-list li:first-child {
	border-bottom: 1px solid rgb(134, 134, 134);
}
.earth-solar-eclipse {
	transform: translateX(130px);
}
/* @keyframes earth-eclipse-rotation {
	from {
		transform: translateZ(0);
	}
	to {
		transform: translateZ(360);
	}
} */
.moon-outline .moon-eclipse-solar {
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: -4px 0 12px 12px black;
}
.moon-outline .moon-eclipse-lunar {
	box-shadow: -4px 0 50px 10px rgb(255 0 0);
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: black;
	z-index: 999;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	align-items: center;
	gap: 8px;
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
}
footer a {
	font-size: 0.8rem;
	color: gray;
}
.hidden {
	display: none;
}

@media screen and (min-width: 600px) {
	body,
	main {
		overflow: hidden;
	}
	.dialog-fixed {
		max-width: 350px;
	}
}
@media screen and (min-width: 900px) {
	.event-list {
		background-color: rgb(0, 0, 0);
		box-shadow: 0 0 16px rgb(36, 36, 36);
		left: 80vw;
	}
	li.events-button-list {
		background-color: rgb(32, 32, 32);
	}
	.events-button-list {
		display: block;
	}
}
